<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DoAnModels" connectionString="data source=ThanhND\SQLEXPRESS;initial catalog=DoAn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
   providerName="System.Data.SqlClient" />
  <add name="DoAn.Properties.Settings.DoAnConnectionString" connectionString="Data Source=THANHND\SQLEXPRESS;Initial Catalog=DoAn;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>